<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.education_applet.mapper.VideoMapper">
  <resultMap id="BaseResultMap" type="com.example.education_applet.pojo.Video">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
    <result column="video_size" jdbcType="DOUBLE" property="videoSize" />
    <result column="video_picture" jdbcType="VARCHAR" property="videoPicture" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="video_type" jdbcType="VARCHAR" property="videoType" />
    <result column="video_content" jdbcType="VARCHAR" property="videoContent" />
    <result column="is_vip_video" jdbcType="SMALLINT" property="isVipVideo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>